.calendar {
  width: 100%;
  font-size: 13px;
}

.month {
  font-size: 25px;
}

tr, td {
  border: 1px solid black;
}

th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}